doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(type="text/css" rel="stylesheet" href="firstPage.scss")
    body
        h1.title Stay Home
        .camera.-x
            .camera.-y
                .camera.-z
                    - for (i = 0; i < 200; i++)
                        .drop
                            .z
                                .slide
                                    .move
                                        .stagger
                                            .reverse
                                                .rotate
                                                    .size
                                                        .sakura